/* body{
    background: linear-gradient(pink,lightblue);
    background-size: cover;
    background-repeat: no-repeat;
} */
.title{
    width: 700px;
    height: 100px;
    
    margin : auto;
    padding-bottom: 20px;
    border-radius: 20px;
}

h1, h2{
    text-align: center;
}
.contact{
    width: 900px;
    height: 60px;
    margin : auto;
    border-radius: 20px;
    padding: 20px;

}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.skills{
    width: 30%;
    height: 350px;
    /*background-color: aquamarine;*/
    position: relative;
    float: left;
    padding-left: 40px;
}
.experience{
    width: 60%;
    height: 350px;
    /*background-color: blanchedalmond;*/
    position: relative;
    float: left;
    margin-right: 5%;
}
.logo{
    width: 30px;
    height: 30px;
}

p{
    text-align: justify;

}
.header{
   margin-left: 30px;
}
#bottom-header{
    text-align: center;
    
}
.education{
    text-align: justify;
    width: 90%;
    margin-left: 40px;
}
